@font-face {
    font-family: Norse;
    src: url('Norse-Bold.otf');
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 100vh;
    font-family: system-ui, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image-sidebar{
    flex-grow: 2;
    background-image: url(imgs/tree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.6);
    color:white;   
    margin-top: 30%;
    font-family: Norse, sans-serif;
    font-size: 4rem;
    padding: 1rem;
}
.logo-container>img{
    width: 5rem;
}

.form-container{
    background-color: #f9fafb;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.form-t, .form-b {
    padding-left: 3rem;
}
.form-m{
    display: flex;
    flex-direction: column;
    width: 100% ;
}
.form-t p{
    max-width: 80ch;
    font-weight: bold;
}
.form-b a{
    text-decoration: none;
    color: #596d48;
    font-weight: bold;
}


/**
    form styling
*/

label{
    text-transform: capitalize;
    display: block;
    font-family: Norse, sans-serif;
    letter-spacing: 0.15rem;
}
.form-m .remarques{
    grid-column: 3 / span 3 ;
    grid-row: 1 / span 3 ;
    overflow: auto;
    max-height: 10rem;
}
.remarques p{
    font-size: 0.6rem;
    line-height: 0.6rem;
    color: #ccc; 

}


input{
  padding: 0.4rem;
  width: 80%;
  border: 1px solid;
}
.form-m button{
    width: fit-content;
    font-size: 1rem;
    padding: 0.5em 1.7em;
    grid-row-start: 2;
    background-color: #596d48;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}
.form-m fieldset:first-child{
    display: grid;
    grid-template-columns: 38% 38% calc(100% - 2*38%); 
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 2.8rem;

    background-color: white;
    position: relative;
    border: 1px solid white;
    box-shadow: 0px 2px 8px 0px #cbd2c4;
    padding-top: 4rem;  
    padding-bottom: 2rem;
}
.form-m fieldset:first-child legend{
    position: absolute;
    top: 1rem;
    left: 2.8rem;
    font-size: 1.8rem;
}
.form-m fieldset:first-child input{
    border: 1px solid #bbb;
    border-radius: 4px;
}
.form-m fieldset:first-child input:focus{
    outline: none;
    border: 2px solid blue;
    box-shadow: 0px 1px 1px 1px rgb(127, 127, 200);
    border-radius: 4px;
}
/* .form-m fieldset:first-child input:focus:valid{
    border: 2px solid green;
    box-shadow: none;
} */
/* .form-m fieldset:first-child input:focus:invalid{
    border: 2px solid red;
    box-shadow: none;
}  */
.form-m fieldset:first-child div{
    padding: 0.4rem 0; /*override the remarques padding*/
}
.form-m fieldset:last-child{
    padding-left: 2.8rem;
    padding-top: 1.2rem;
    border: none;
}
